:root {
    --color-theme: #a01c2b;
    --color-light: #ffffff;
    --color-dark: #000000;
    --font-primary: 'Montserrat';
    --font-secondary: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.btn-theme {
    border: 1px solid var(--color-theme);
    color: var(--color-light);
    border-radius: 0;
    transition: 0.3s ease-in;
}


.btn-sec {
    border: 1px solid var(--color-theme);
    background-color: var(--color-theme);
    color: var(--color-light);
    border-radius: 0;
    transition: 0.3s ease-in;
}

.btn-theme:hover {
    color: var(--color-light) !important;
    background-color: var(--color-theme);
}


.btn-sec:hover {
    color: var(--color-light);
    background-color: #940d1c;
}


.sec-title {
    text-align: center;
}

.sec-title h2 {
    position: relative;
    font-family: var(--font-primary);
    font-size: 40px;
    color: var(--color-dark);
    font-weight: 700;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.sec-title h2::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: var(--color-theme);
}

.sec-title {
    font-family: var(--font-primary);
    font-size: 16px;
    color: #808080;
    font-weight: 400;
}

/* Header */
.header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0 10px 0;
    z-index: 99;
    border-bottom: 1px solid #7a7a7a;
    transition: 0.3s ease-in;
}


.header-main.sticky {
    background-color: var(--color-dark);
}


.header-logo img {
    width: 100%;
}

.header-main .stellarnav>ul>li>a {
    font-family: var(--font-primary);
    font-size: 14px;
    color: var(--color-light);
    text-transform: uppercase;
    padding: 10px 8px;
}

.header-main .stellarnav>ul>li:hover>a {
    color: #ff001e;
}

.stellarnav li li:hover a {
    color: #ff001e;
}

/* Banner  */
.banner {
    position: relative;
}

.banner .bannerimg {
    width: 100%;
    height: auto;
}

.banner .banner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

.banner .banner-content h1 {
    font-family: var(--font-primary);
    font-size: 80px;
    color: var(--color-light);
    font-weight: 700;
    margin-bottom: 100px;
}

.banner .banner-content .btns .btn {
    display: inline-block;
    margin: 0 10px;
}

/* Services */
.services {
    padding: 30px 0;
}

.services .services-carousel .item .card {
    position: relative;
    border: none;
    overflow: hidden;
    height: 260px;
    transition: 0.3s ease-in;
}

.services .services-carousel .item .card .card-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background: rgb(1, 18, 34);
    background: linear-gradient(0deg, rgba(1, 18, 34, 0.7847338764607406) 0%, rgba(1, 18, 34, 0) 50%);
    transition: 0.3s ease-in;
}


.services .services-carousel .item .card .card-content .icons {
    color: var(--color-light);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    margin-bottom: -36px;
    transition: .3s ease-in;
}

.services .services-carousel .item .card img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .services-carousel .item .card img::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
}


.services .services-carousel .item .card .card-content h5 {
    position: relative;
    font-family: var(--font-primary);
    font-size: 18px;
    color: var(--color-light);
    font-weight: 700;
    padding-bottom: 10px;
}

.services .services-carousel .item .card .card-content h5::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 20px;
    background-color: var(--color-theme);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.services .services-carousel .item .card:hover .card-content {
    transition: .3s ease-in;
    background: rgb(160, 28, 43);
    background: linear-gradient(0deg, rgba(160, 28, 43, 0.5) 0%, rgba(160, 28, 43, 0.5) 100%);
}

.services .services-carousel .item .card:hover .card-content .icons {
    margin-bottom: 0;
}

.services .services-carousel .item .card:hover .card-content {
    justify-content: center;
}

.serv-desc .des-card {
    text-align: center;
}

.serv-desc .des-card .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-theme);
    color: var(--color-light);
    font-size: 40px;
    margin: 0 auto;
}

.serv-desc .des-card h4 {
    font-family: var(--font-primary);
    font-size: 22px;
    margin: 30px 0;
}

.impvideo {
    position: relative;
    background-image: url("/assets/images/infobg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.impvideo img {
    width: 100%;
}

.imgvideo-contents {
    padding: 50px 0;
}

.imgvideo-contents .video {
    position: relative;
    margin-top: 30px;
}

.imgvideo-contents .video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-light);
    background-color: rgba(255, 255, 255, 0.322);
}

.imgvideo-contents .video .play a {
    font-size: 30px;
    color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-theme);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imgvideo-contents .vidtxts {
    margin: 45px 0;
    padding: 0 40px;
}

.imgvideo-contents .vidtxts h4 {
    position: relative;
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--color-light);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}


.imgvideo-contents .vidtxts h4::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 20px;
    background-color: var(--color-theme);
    bottom: 0;
    left: 0;
}

.imgvideo-contents .vidtxts p {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-light);
    font-weight: 400;
    margin: 30px 0;
}



.wedeliver {
    padding: 50px 0;
}

.wedeliver .count-o {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #999999;
    margin: 0 auto;
}

.wedeliver .count-o .num {
    font-family: var(--font-primary);
    font-size: 60px;
    color: var(--color-theme);
    font-weight: 700;
}

.wedeliver .count-o .name {
    font-family: var(--font-primary);
    font-size: 16px;
    color: #4c4c4c;
    font-weight: 700;
}

.wedeliver .btn.btn-sec {
    display: inline-block;
    margin: 50px 0;
    text-transform: uppercase;
}

.wedeliver .hr {
    border-bottom: 1px solid #999999;
}

.whatmakes .imgcards {
    padding: 50px 0;
}

.whatmakes .imgcard {
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in;
}

.whatmakes .imgcard img {
    display: block;
    width: 100%;
}

.whatmakes .imgcard .text {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-light);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(148, 13, 28, .8);
    padding: 30px;
    transition: 0.3s ease-in;
    transform: translateY(100%);
}

.whatmakes .imgcard:hover .text {
    transform: translateY(0);
}

.contact-sec {
    color: var(--color-light);
    background-image: url("/assets/images/bg4.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.contact-sec span {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
}

.contact-sec h2 {
    font-family: var(--font-primary);
    font-size: 60px;
    color: var(--color-light);
    font-weight: 700;
    line-height: 1.2;
}


.contact-sec .btn.btn-theme {
    border-color: var(--color-light);
    margin: 60px 0 30px 0;
}

.contact-sec .btn.btn-theme:hover {
    background-color: var(--color-light);
    color: var(--color-theme) !important;
}

footer {
    background-color: #262d3d;
    padding: 50px 0 0 0;
}

.footer-logo {
    width: 100%;
}

footer .f-links h3 {
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--color-light);
    font-weight: 500;
    margin-bottom: 30px;
}

footer .f-links ul.i li a {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-light);
    text-transform: uppercase;
}

footer .f-links h3 {
    font-size: 18px;
    font-weight: 700;
}

footer .f-links ul li a {
    font-size: 16px;
    color: #9b9b9b;
}

footer .f-links ul li{
    padding: 5px 0;
}

footer .f-links ul:not(.i) li a:hover {
    color: var(--color-light);
    font-weight: 500;
}

footer .f-links  .btn.btn-theme{
    margin-top: 30px;
}

.footer-bottom {
    font-size: 14px;
    color: var(--color-light);
    margin-top: 50px;
    border-top: 1px solid #999999;
    padding: 20px 0;

}